form {
	display:block;
	margin-top: 0em;
	text-align: left;
}

.form {
	background: #f1f1f1;
	width: 470px;
	margin: 0 auto;
	padding-left: 50px;
	padding-top: 20px;
}

.form p.contact {
	font-size: 12px;
	margin: 0 0 10px 0;
	line-height: 14px;
	font-family: Arial, Helvetica;	
}

.form label {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica;
}

.form input[type="text"] {
	width: 400px;
}

.form input#phone_start, input#phone_mid {
	width: 30px;
}

.form input#phone_end {
	width: 40px;
}

.form textarea {
	width: 400px;
	height: 100px;
}

.form input, textarea {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(122, 192, 0, 0.15);
	padding: 7px;
	font-family: Keffesatz, Arial;
	color: #4b4b4b;
	font-size: 14px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
	margin-top: -10px;
}

.form .source {
	width: 410px;
}

.form .select-style {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(../images/select-arrow.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 0px solid #fff;
	color: #555;
	font-size: 14px;
	margin: 0 0 10px 0;
	overflow:hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

