<button id="milk" title="Input milk arrival information">Milk</button>
<button id="rennent" title="Input rennent arrival information" aria-disabled="true" disabled>Rennent</button>
<button id="culture" title="Input culture arrival information" aria-disabled="true" disabled>Culture</button>