<p class="contact title">
	<label for="srcs">Sources</label>
</p>
{{#each sources}}
	<p class="contact">
		<label for="src">{{this.name}}</label>
		<input class="cheeseSource cheese{{this.idx}}" id="{{this.idx}}" name="srcs" placeholder="Amount" required tabindex="2" type="number">
	</p>	
{{/each}}
<button class="delete_cheese" tabindex="12">Delete</button>