<div class="cheeseDetails dropdown">
	<span>Cheese Name</span>			
	<input class="cheeseName" type="text" />			
</div>
<div class="cheeseDetails dropdown">
	<ul class="cheeseDrop">
		<li>
			<a href="javascript:void(0)">Type</a>
			<ul>
				<li><a href="javascript:void(0)" class="addCheeseType">Create Type</a></li>
			</ul>
		</li>
	</ul>
	<input  class="cheeseType" type="text" />
</div>
<div class="cheeseDetails dropdown">
	<ul class="cheeseDrop">
		<li>
			<a href="javascript:void(0)">Rennent(s)</a>
			<ul>
				<li><a href="javascript:void(0)" class="addRennent">Add Rennent</a></li>
				<li><a href="javascript:void(0)" class="createRennent">Create Rennent</a></li>
			</ul>
		</li>
	</ul>
	<ul class="rennentWrapper">
		<li>
			<input  class="cheeseRennent" type="text" />
			<div class="removeRennent"></div>
		</li>
	</ul>
</div>
<div class="cheeseDetails dropdown">
	<ul class="cheeseDrop">
		<li>
			<a href="javascript:void(0)">Culture(s)</a>
			<ul>
				<li><a href="javascript:void(0)" class="addCulture">Add Culture</a></li>
				<li><a href="javascript:void(0)" class="createCulture">Create Culture</a></li>
			</ul>
		</li>
	</ul>
	<ul class="cultureWrapper">
		<li>
			<input  class="cheeseCulture" type="text" />
			<div class="removeCulture"></div>
		</li>
	</ul>
</div>			
<div class="cheeseDetails size">
	<div>Large</div>
	<input id="large" type="text" />
</div>
<div class="cheeseDetails size">
	<div>Medium</div>
	<input id="medium" type="text" />
</div>
<div class="cheeseDetails size">
	<div>Small</div>
	<input id="small" type="text" />								
</div>
<div class="cheeseDetails">
	<div>Totals</div>
	<span>-------------------</span>
	<div id="total" class="totals"></div>
</div>
<div class="cheeseDetails">
	<div>Unit Numbers (autonumber)</div>
	<input class="unit" disabled />
</div>			
<div class="cheeseDetails last">	
	<div class="deleteCheese">Delete</div>								
</div>