<div id="batches">			
	<h3>Batch Page</h3>
	<div class="batchTop">
		<div class="batchDate">
			<label for="creation_date">Date of Batch Creation</label>
			<input id="creation_date" type="text" disabled />
		</div>
		<div class="sourceContainer"></div> 
		<div class="batchNotes">
			<label for="notes">Notes</label>
			<textarea id="notes"></textarea>
		</div>
	</div>										
	<div id="batchContainer">
		<ul class="batchWrapper"></ul>
	</div>
	<div class="batchBottom">
		<div id="addCheese">Add Cheese</div>
		<div id="addBatch">Save Batch</div>					
	</div>
</div>