<div class="modalWrapper">
	<div class="cancelModal">
		<a href="javascript:void(0)">Close</a>
	</div>
	<div class="modalName">
		<span>Name: </span>					
		<input type="text" />
	</div>
	<div class="modalDescription">
		<span>Description: </span>
		<textarea></textarea>
	</div>
	<div class="saveModal">
		<a href="javascript:void(0)">Save</a>
	</div>
</div>	