<div class="right clear">	
	<input class="volumes" id="volumes-{{idx}}" name="date" placeholder="Set Volume" required tabindex="3" type="text" disabled>
</div>
<div class="right">	
	<input class="source" id="source-{{idx}}" name="date" placeholder="Select Source" required tabindex="2" type="text">
</div>